html										{ font-size:106.5%; }
body										{ margin:8px 0 8px 0; text-align:center; background-color:#fff; color:#000; font-size:76.5%; font-family:Arial, sans-serif; background:url(/st/img/skins/skin-11/bg.gif) repeat-x; }


/* po nahrazeni loga smazat ?? */
#seznam-logo {display: block; width: 200px; height: 80px; background: url(/st/img/skins/skin-11/seznam_logo.png) no-repeat 0px 20px;}
#seznam-logo img {display: none; }




td											{ font-size:100%; _font-size /**/:76.5%; }
h1, h2, h3, h4, h5,
 p, ul, ol, li,
 form 										{ padding:0; margin:0; }
 select										{ font-size:100%; }
img											{ vertical-align:top; border:none; margin:0; padding:0; }
li											{ list-style-type:none; }

hr											{ display:none; }

a:link 										{ color:#B41F24; }
a:visited									{ color:#740F04; }
a:hover										{ color:#000; }

#monitor,
.blind										{ position:absolute; top:-4000px; left:-4000px; width:1px; height:1px; overflow:hidden; } /*- pro nevidome -*/
.gray										{ color:#ccc; }
.clear										{ clear:both; overflow:hidden; height:1px; display:block; }

.bold	{ font-weight:bold; }

.min-width									{ margin-left:auto !important; margin-right:auto !important; width:770px !important; }
.max-width									{ margin-left:auto !important; margin-right:auto !important; width:1024px !important; }

/*#page										{ margin:0 auto; padding:0 20px; _padding:expression(ms_setPadding()); width: 1010px; _width:expression(ms_setWidth()); text-align:left; }
#page.empty									{ padding-top:200px; }*/

#page										{ margin:0 auto; padding:0 20px; _padding:expression(ms_setPadding(730,1024)); min-width:730px; max-width:1024px; _width:expression(ms_setWidth(730,1024)); text-align:left; }
#page.widepage								{ _padding:expression(ms_setPadding(1100,1600)); _width:expression(ms_setWidth(1100,1600)); min-width:1100px !important; max-width:1600px !important; }
.emptypage									{ padding-top:200px !important; }

#head-cont									{ text-align:center;}
#head										{ margin:0 auto; width:98%; _height:3.8em; min-height:3.8em; text-align:left; }
#head #info									{ z-index:99; position:relative; float:right; margin:11px 0 0 0; text-align:right; }
#head #info h2								{ display:inline; font-size:100%; _margin-right:0.3em; }
#head #info p								{ line-height:1.8em; }

#head .sett-cnt								{ z-index:99; _height:1px; position:absolute; top:-0.2em; right:5.55em; width:172px; border-color:#E5E5E5 #BEBEBE #BEBEBE #E5E5E5;  background:#fff; }
#head .sett-cnt ul							{ border:1px solid #efefef; padding:10px 13px 6px 13px; text-align:left; }
#head .sett-cnt li							{ margin-bottom:1em; padding-left:19px; }
#head .sett-cnt li a						{ color:#000;  }
#head .sett-cnt li a:visited				{ color:#000; }
#head .sett-cnt .close-link					{ position:absolute; top:4px; right:4px;  }
#head #head-add-news-link					{ background:url(/st/img/rss-add.gif) no-repeat 0 0.15em; }
#head #head-add-seek-link					{ background:url(/st/img/lupa.gif) no-repeat 0 0.15em; }
#head #head-chng-skin-link					{ background:url(/st/img/skin-change1.gif) no-repeat 0 0.15em; }
#head #head-chng-layout-link				{ background:url(/st/img/layout-change.gif) no-repeat 0 0.15em; }
#head #head-set-as-HP						{ background:url(/st/img/HP-set.gif) no-repeat 0 0.15em; }

/*- hledani */
#search										{ z-index:9; text-align:left; position:relative; width:65em; margin:0 auto; padding-bottom:40px; }
#search h1									{ float:left; }
#search #search-cnt							{ float:left; width:42.5em; background:url(/st/img/skins/skin-11/search_bg_ul.gif) no-repeat 0px 8px;}
#search #tabs								{ _height:1px; position:relative; top:3px; =top:3px; /**/; margin-left:50px; }
#search #tabs li							{ font-size:100%; float:left; padding:4px 12px 4px 12px; margin-left: -1px; _margin-left: -1px;}
#search #tabs li.active						{ padding:0px; padding-bottom:7px;}
#search #tabs li a							{ display:block; color: #696C70; text-decoration: none;}
#search #tabs li a:hover      {text-decoration: underline; color: #000;}
#search #tabs li.active a					{ padding:3px 12px 3px 11px; border:1px solid #C1DAF9; border-bottom-width:0px; background:url(/st/img/skins/skin-11/bg_zalozka.gif) repeat-x 0 48%; }

#search a:link,
#search a:visited							{ color:#000; }
#search a:hover								{ color:#B41F24; }
#search #tabs li.active a					{ color:#000 !important; text-decoration:none; }

/*- boxy s hledanim */
#search #search-boxes						{ height:4.9em; margin-top: 8px;}
#search .sbox								{ display:none; }
#search .active .sbox						{ display:block; }
#search .shadow								{
  vertical-align:middle;
  width:24.05em;
  height: 26px;
  font-size:123.5%;
  color: #555;
  padding:2px 10px 4px 26px; =padding:2px 12px 6px 28px;
  border: none;
  background:url(/st/img/skins/skin-11/input_search.gif) no-repeat 0 0;
}
#search .button								{
  vertical-align:middle;
  font-size:85%;
  height: 20px;
  width: 64px;
  padding:2px 14px 3px 14px; =padding:1px 6px 2px 6px;
  color: #fff;
  background:url(/st/img/skins/skin-11/bg_submit.gif) no-repeat center center;
  border: 0px;
  cursor: pointer;
  margin-bottom: 7px;
}
#search .info-text							{ padding-top:1px; color:#666;  }
#search .info-text a:link,
#search .info-text a:visited				{ color:#CC6666; }
#search .info-text a:hover					{ color:#0000ef; }

/*- internet */
#inet .sbox span input						{ vertical-align:bottom; }
#inet #cr-s									{ margin:1px 0 0 0; =margin-left:-4px; float:left; }
#inet #cr-s, x:-moz-any-link 				{ margin-left:-5px; } /*- HACK pro FF2 -*/
#inet #w-s									{ margin:1px 0 0 4px; float:left; }
#inet .r-label								{ position:relative; top:1px; =top:2px; left:-4px; }



/*- Firmy */
#search #tabs #t-firms.active				{  }
#search #tabs #t-firms.active a				{  }

/*- Mapy */
#search #tabs #t-maps.active				{ }
#search #tabs #t-maps.active a				{  }

/*- Zbozi */
#search #tabs #t-goods.active				{  }
#search #tabs #t-goods.active a				{  }

/*- Obrazky*/
#search #tabs #t-pics.active				{  }
#search #tabs #t-pics.active a				{  }

/*- Encylkop*/
#search #tabs #t-encyc.active				{ }
#search #tabs #t-encyc.active a				{  }

#search #tabs #t-artic.active				{ }
#search #tabs #t-artic.active a				{  }


/*- slovnik */
#search #tabs #t-dict.active				{ }
#search #tabs #t-dict.active a				{  }
#dict .shadow								{ width:16.5em; background:url(/st/img/skins/skin-11/input_search_slovnik.gif) no-repeat 0 0;}
#dict .button								{ font-size:100%; padding:2px 0 3px 0; _padding:2px 0 1px 0; font-weight:normal; }
#dict #czen									{ width:4.7em; }
#dict #encz									{ width:4.7em; }
#dict .more									{ _height:1px; padding-left:6px; font-weight:bold; }

/*- dalsi hledani */
#search #tabs #t-moreSearch					{ position:relative; background-image: none;}
#search #tabs .with-choser					{ background:none !important; margin: 0px; padding: 4px 12px ;}
#search #tabs .with-choser a				{ padding-right:14px !important; }

#search #tabs #t-moreSearch a				{ }
#search #tabs #t-moreSearch.act				{ padding: 0pt 0pt 7px;  }
#search #tabs #t-moreSearch.act a			{ _position:relative; padding:3px 25px 3px 12px; border:1px solid #C1DAF9; border-bottom-width:0px; background:url(/st/img/skins/skin-11/bg_zalozka.gif) repeat-x 0 48%; }

#search #tabs #t-moreSearch a #t-select		{ position:absolute; top:0.3em; right:0.4em; width:15px; height:14px; background:url(/st/img/nextTab-box2.gif) no-repeat 0 0; }

#search #tabs #t-moreSearch.active			{ padding:inherit; padding-bottom:5px; }
#search #tabs #t-moreSearch.active a		{ padding:4px 21px 4px 7px; border-bottom-width:0; }


#moreSearch										{ display:none; }
#search #tabs #moreSearch .seek-sbox			{ top:-1px; left:-1px; position:absolute; width:134px; border:1px solid #e5e5e5; border-color:#e5e5e5 #bebebe #bebebe #e5e5e5; background:#fff; }
#search #tabs #moreSearch .seek-sbox ul			{ margin:6px 0; }
#search #tabs #moreSearch .seek-sbox li			{ float:none; line-height:1.6em; }
#search #tabs #moreSearch .seek-sbox li a 		{ display:inline; padding:0; background:none; border:none; }
#search #tabs #moreSearch #extTab-close			{ position:absolute; top:4px; right:4px; cursor:pointer; cursor:hand; }
#search #tabs #moreSearch #sett-add-seek-link	{ background:url(/st/img/lupa.gif) no-repeat 8px 80%; }
#search #tabs #moreSearch #sett-add-seek-link a	{ display:inline; padding:0 !important; _heihgt:1px; padding-left:20px !important; color:#135c9e !important; font-size:95%; }

/*- suggest -*/
.suggest									{ top:4.8em;=top:5em; position:absolute; cursor:pointer; _cursor:hand; z-index:9999; }
.suggest .content							{ width:32.1em; =width:32.5em; /**/; }
.suggest .content							{ border:1px solid #bcbebc; background:#fff; overflow:hidden; }
#dict .suggest .content						{ width:22.85em; =width:23.1em; /**/; }

.suggest p									{ position:relative; margin:0 !important; padding:0.1em 0.2em  !important; font-size:89%; padding-right:80px;}
.suggest p.active							{ background:#d5e6f4; color:#fff; }
.suggest span								{ position:absolute; width:80px; text-align:right; right:0.2em; color:#666; color:#999; }
.suggest .remote							{ border-top: 1px solid #888888; font-weight:bold; }

.suggest p.dictionary a						{ color: #000; font-weight: normal; text-decoration: none; }
.suggest p.dictionary a span				{ color: #000; position: static; width: auto; text-align: left; margin-left: 8px; visibility: visible; }
.suggest p.dictionary.active a				{ color: #fff; }
.suggest p.dictionary.active a span			{ color: #fff; }

/*- zbozi categories */
#g-categories								{ top:4.8em;=top:5em; position:absolute; cursor:pointer; _cursor:hand; z-index:9999; border:2px solid #d4d4d4; background:#fff; padding:9px 10px 9px 11px; }
#g-categories h4							{ color:#666; font-size:100%; font-weight:normal; margin-bottom:0.5em; }
#g-categories ul							{ float:left; width:49%; }
#g-categories ul li							{ background:url(/st/img/goods-mark.png) no-repeat 0 50%; padding-left:15px; line-height:1.5; margin-left:5px; }


/*- OKYNKA a ZBYTEK */
#content									{ margin-top:0px; }
#gd											{  }

.col_1 #col_1								{ float:left; width:53%; _height:1px; margin-right:20px; }
.col_1 #col_2								{ margin-top:32px; float:left; width:2%; height:100px; border:1px dashed green; }
.col_1 #col_3								{ display:none; }

.col_2 #col_1								{ float:left; width:53%; _height:1px; margin-right:20px; }
.col_2 #col_2								{ float:left; width:44%;_width:42%; _height:1px; }
.col_2 #col_3								{ margin-top:32px; float:right; width:2%; height:100px; border:1px dashed green; }

.col_3 #col_1								{ float:left; width:31.5%; _height:1px; margin-right:2%; }
.col_3 #col_2								{ float:left; width:30%; _height:1px; margin-right:2%; }
.col_3 #col_3								{ float:left; width:30%; _height:1px; }
.empty-col									{ color:#5d5d5d; margin-top:16px; font-weight:bold; }

/*
#gd #col_1									{ float:left; width:605px; _height:1px;}

#gd #col_2									{ float:right; width:389px; _height:1px; }
*/

/* okna  pro wmanger v js */
.s_win_pointer							{
  margin-bottom:16px;
  background-color: #e3edf6 !important;
}



#col_2 .s_win_pointer_background,
 #col_3 .s_win_pointer_background	{  width: 100% !important;}
.s_win_pointer_background {  background-color: #e3edf6 !important;}

#gd .s_win									{ margin-bottom:16px; z-index:9; background-color: #fff; zoom:1; }
#col_1 .s_win									{ width: 100%; }

/* vlevo spodni linka */
#gd #col_1 .s_win              { background: url(/st/img/skins/skin-11/border-left.gif) no-repeat 4px bottom;}

/*\*/
html*#gd #col_1 .s_win							{ background-position: 1px bottom;}
/**/


/* vlevo pozadi nadpisu */
#gd .title { padding: 5px 10px; }
#gd #col_1 .title { background: transparent url(/st/img/skins/skin-11/title-gray-right.gif) top right no-repeat; }

#col_2 .main-cont h3,
 #col_3 .main-cont h3 {
  font-weight: normal;
  background-color: #fff;
}
#col_2 .main-cont h3 .text a,
 #col_3 .main-cont h3 .text a {color: #B41F24; text-decoration: underline;}
#col_2 .g-cnt,
 #col_3 .g-cnt {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 12px;
  background: url(/st/img/skins/skin-11/right_bg_default.gif) no-repeat 0px 0px;
  _height:45px;
  min-height:45px;
}


#gd .s_win_area								{ padding-left: 10px; padding-right: 10px; width: 95%; } /* 95 */
#col_1 .s_win_area								{ padding-left: 2%; padding-right: 2%; width: 96%; } /* 95 */

#col_1 .s_win_area								{ padding-bottom: 6px; background: transparent url(/st/img/skins/skin-11/border-right.gif) right bottom no-repeat;}

.opensettings								{ position:relative; }


/*- zaklad gadgetu */
.gagdet-cont								{ _margin-right:3%; =margin-rig\ht:0; width:100%;display:table; padding:0 0 2px 0; =padding:0 0 2px 0; border: 1px solid #fff; }
.gagdet-cont .main-cont						{ display:table-cell; =margin:0 0 0 0; }

/* tohle vidi jen opera */
@media all and (min-width: 0px) {
	.gagdet-cont								{ display:block; }
	.gagdet-cont .main-cont						{ display:block; }
}

/*variant*/
#gadget-1.rss-feed .g-cnt td.top .text-box strong	{ font-size:115.5%;  } /*- pouze novinky maji vetsi font */
#gadget-2.rss-feed .g-cnt td.top .text-box strong	{ } /*- pouze novinky maji vetsi font */
#gadget-9.rss-feed .g-cnt td.top .text-box strong	{  }
#gadget-18.rss-feed .g-cnt td.top .text-box strong	{  }
#gadget-14 .top a								{ font-weight:bold; }
/*evariant*/

/*variant*/
#gadget-1 .g-cnt .text-box					{ margin-left:108px; }
#gadget-2 .g-cnt .text-box					{ margin-left:68px; }
#gadget-9 .g-cnt .text-box					{ margin-left:70px; }
#gadget-18 .g-cnt .text-box					{ margin-left:68px; }
/*evariant*/

.moved .gagdet-cont							{ border:1px solid #d5e6f4; background-color:#FFFFFF;}

.moved .gagdet-cont .main-cont .title	{
	background-color: #d5e6f4;
}

#col_1 .gagdet-cont {padding: 0;background: transparent url(/st/img/skins/skin-11/title-gray-left.gif) left top repeat-x; width: 100%;/* width: 603px; _width:600px;*/}

#col_2 .gagdet-cont .main-cont,
 #col_3 .gagdet-cont .main-cont {
  background: transparent url(/st/img/skins/skin-11/right-lt.gif) no-repeat left 26px;
}

html>body #col_2 .gagdet-cont .main-cont { *background: transparent url(/st/img/skins/skin-11/right-lt.gif) no-repeat left 25px; }
html>body #col_3 .gagdet-cont .main-cont { *background: transparent url(/st/img/skins/skin-11/right-lt.gif) no-repeat left 25px; }

#col_2 .s_win, #col_3 .s_win {  background: transparent url(/st/img/skins/skin-11/right-lb.gif) no-repeat 1px bottom;}

#col_2 .gagdet-cont,
 #col_3 .gagdet-cont {
  background: transparent url(/st/img/skins/skin-11/right-rb.gif) no-repeat right bottom;
  _background: transparent url(/st/img/skins/skin-11/right-rb_ie.gif) no-repeat right bottom;
  padding-bottom: 10px;
  width:100%;
}

#col_2 .title .text a,
 #col_3 .title .text a { display: inline; z-index: 999px; }
#col_2 .title .text a:hover,
 #col_3 .title .text a:hover { color: #000; }

 /*- titulek gadgetu */
.gagdet-cont .title							{ position:relative; /*=position:static;*/ height:1.2em; font-weight:normal; padding:1px 3px 3px 6px; _padding-top:1px; =padding-top:2px; font-size:100%; background: url(/st/img/bile_rohy.gif) no-repeat 0 50%; =background-image:none;/**/; }

.gagdet-cont .title .bck					{ width:1px; height:1.55em; _height:1.8em; display:block; position:absolute; top:0; right:0px; _right:-1px; background: url(/st/img/bile_rohy.gif) no-repeat 0 50%; =background-image:none; /**/; }
#col_2 .gagdet-cont .title .bck,
 #col_3 .gagdet-cont .title .bck { _right:0px; }
.gagdet-cont .title a:link,
 .gagdet-cont .title a:visited				{ color:#464646; text-decoration: none;}
.gagdet-cont .title a:hover					{ color:#464646; text-decoration: underline;}
.gagdet-cont .title .win-ico				{ float:left; margin-top:-3px; }
.gagdet-cont .title .text					{ overflow:hidden; height:1.2em; width:65%;	float:left; font-weight: bold; }
#col_2 .gagdet-cont .title .text,
 #col_3 .gagdet-cont .title .text { font-weight: normal;}
.gagdet-cont .title .edit					{ float:right; margin-bottom:4px; =margin-bottom:0; /**/; }
.gagdet-cont .title .edit a:link,
.gagdet-cont .title .edit a:visited			{ color:#777; font-size: 0.9em;}
.gagdet-cont .title .edit .edit-text		{ margin-right:0px; _margin-right:0px; }
.gagdet-cont .title .edit img				{ margin-top:2px; _margin-top:2px; =margin-top:1px; /**/; }
.gagdet-cont .title .edit .close-win-img	{ cursor:pointer; cursor:hand; }
.close-confirm-win							{ background:#efefef; padding:8px 10px; margin:14px 0; }

.gagdet-cont .g-cnt	 						{ overflow:auto; =overflow:visible !important; width:100%; }
/*- obecne tabulky */
.gagdet-cont .g-cnt	table					{ width:100%; _width:auto; margin-top:1px; table-layout:fixed; }
#col_2 .gagdet-cont .g-cnt	table,
 #col_3 .gagdet-cont .g-cnt	table { width:86%;}

#col_2 .gagdet-cont .main-cont .g-cnt { background: transparent url(/st/img/skins/skin-11/right-rt-def.png) no-repeat right top; }
#col_3 .gagdet-cont .main-cont .g-cnt { background: transparent url(/st/img/skins/skin-11/right-rt-def.png) no-repeat right top; }

#col_2 .s_win_area, #col_3 .s_win_area {width: 100%;}





/*- nase rss gadgety + normalni rss */

.rss-feed .title	{ padding-left:0; =padding-bottom:4px; _padding-bottom:3px; padding: 5px 10px;}
#col_1 .rss-feed .title	{ background: url(/st/img/skins/skin-11/head_bg_2.gif) no-repeat;}
.rss-feed .title .text						{ padding-left:4px; }
.rss-feed .title .ico						{ float:left; margin-left:3px; margin-top:1px; =margin-top:0px; /**/; }

.rss-feed .g-cnt .push						{ padding:6px 7px 0 2px !important; }
#col_2 .rss-feed .g-cnt .push { }
.rss-feed .g-cnt td .hlp					{ line-height:1.3em;  }

.rss-feed .g-cnt td .top-foto				{ float:left; padding:0 9px 0 0; }
.rss-feed .g-cnt td.top .text-box .perex	{ padding:4px 0 0 0; }
#gadget-1.rss-feed .g-cnt td.top .text-box strong	{ font-size:115.5%; } /*- pouze novinky maji vetsi font */

.rss-feed .g-cnt td .text-box				{  }
.rss-feed .g-cnt td .text-box strong		{ display:block; }
.rss-feed .g-cnt td .text-box .perex		{ display:block; }
.rss-feed .g-cnt td span.perex				{ display:block; color:#666; /*padding-left:12px;*/ font-size:93%; /*height:3em; overflow:hidden;*/ }
/*.rss-feed .g-cnt td .hide-perex			{ display:none !important; }*/
.rss-feed .gadget-settings					{ width:290px; }


/*- titulek */
/*
#gadget-1 .g-cnt .text-box					{ margin-left:68px; }
#gadget-2 .g-cnt .text-box					{ margin-left:68px; }
#gadget-9 .g-cnt .text-box					{ margin-left:50px; }
*/
/*
#gadget-1 .title							{ background-image:url(/st/img/novinky-ico.gif); }
#gadget-2 .title							{ background-image:url(/st/img/sport-ico.gif); }
*/

/*- settings common */
.gadget-settings								{ display:none; position:absolute; top:0;  right:0px; }
.gadget-settings .settings-main					{ background:#fff; border:1px solid #E5E5E5; border-color:#e5e5e5 #BEBEBE #BEBEBE #e5e5e5; padding:1px; }
.gadget-settings .setting-bck					{ background:#fff; padding:4px 6px 9px; position:relative; }
.gadget-settings .title-setting					{ padding-bottom:6px; text-align:right; }
.gadget-settings .title-setting h4				{ position:absolute; font-size:100%; top:5px; left:6px; }
.gadget-settings .title-setting .close-sett		{ background:url(/st/img/close-blue.gif) no-repeat 100% 0; }
.gadget-settings .title-setting .close-sett	a 	{ _height:1px; padding-right:20px; color:#000098; }
/*.gadget-settings .setting-cont					{ background:red !important; width:100%; overflow:auto; }*/
.gadget-settings .row							{ margin:6px 0; }
.gadget-settings .submit						{ font-weight:bold; }
.gadget-settings .controls						{ padding:10px 0 0 0; }
.gadget-settings .label-check					{ color:#3232CB; }
.gadget-settings input[type="checkbox"]			{ margin-left:0px; }
.gadget-settings .floating						{ float:left; text-align:right; }
.gadget-settings .next-settings					{ border-top:1px solid #e5e5e5; padding:1em 10px 0.5em 10px; margin-top:1em }

/*- email */
.email-feed .title								{  }
.email-feed.moved .main-cont					{  }
.email-feed .links								{ padding:4px 8px 2px 0px; }
.email-feed .links li							{ display:inline; _height:1px; padding-right:6px; }
.email-feed h5									{ font-size:100%; font-weight:normal; padding:3px 0px; }
.email-feed .eml-cnt							{ overflow:hidden; padding:0 8px 2px 0px; }
#col_2 .email-feed .eml-cnt							{  }
.email-feed table								{ border-collapse:collapse; }
.email-feed table td							{ padding:2px 2px 2px 0px; border-bottom:1px solid #ECF7FF; /*-border-top:1px solid #E1E1E1;-*/ }
.email-feed table td a							{ text-decoration:none; color:#000; }
.email-feed table tr strong						{ font-weight:normal; }
.email-feed table tr span						{ color:#666; }
/*#gadget-3 table tr .hide-perex				{ display:none !important; }*/
.email-feed table td.etime						{ width:35px; text-align:right; }
.email-feed .g-cnt td div						{ line-height:1.35em; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis; }
/*- nove emaily */
.email-feed table tr.newMes td.etime,
.email-feed table tr.newMes strong				{ font-weight:bold; }
.email-feed table tr.over td					{ background:#E5F3FF; cursor:hand; cursor:pointer; }
.email-feed .error								{ background:#ec0000; color:#fff; padding:2px 4px; margin:2px 0; font-size:100%; margin-right:50px; }
.email-feed .warn								{ font-size:93%; color:#CC1212; background:url(/st/img/vystraha.gif) no-repeat 0 0; padding-left:20px; }

/*- unlogged form*/
.email-feed .g-cnt form							{ clear:both; padding:10px 10px 5px 10px; }
.email-feed .g-cnt p							{ margin-bottom:0.6em !important; margin-bottom:0.3em; }
.email-feed .g-cnt label						{ float:left; width:3.5em; text-align:right; padding-top:3px; margin-right:3px !important; margin-right:0px; }
#col_2 .login-form,
 #col_3 .login-form	{width: 305px;}


.email-feed .g-cnt .login						{ width:158px; }
.email-feed .g-cnt .passwd						{ width:85px; }

.email-feed .g-cnt #domain						{ width:120px; }

.email-feed .g-cnt #remember-line				{ margin-top:-3px; margin-left:3.40em; _margin-left:3.48em; height:1.5em !important; height:1.9em; }
.email-feed .g-cnt #remember-line label			{ float:none; display:inline; width:auto; margin:0 !important; padding:0 !important; }
.email-feed .g-cnt #remember-line input			{ vertical-align:middle; }
.email-feed .g-cnt #nossl-login					{ font-size:85%; color:#666666; text-align:center; height:1.8em; }
.email-feed .gadget-settings label.flt			{ float:left; width:3.6em; _position:relative; _top:3px; _margin-right:-3px; }
.email-feed .gadget-settings .wide				{ width:156px; _width:150px; }
.email-feed .gadget-settings .wide-log			{ width:156px; _width:150px; }

/*nas email*/
#gadget-3 .g-cnt form							{ padding:10px 10px 0 10px; }
#gadget-3 .g-cnt .login							{ width:108px; }
#col_2 #gadget-3 .g-cnt,
 #col_3 #gadget-3 .g-cnt {
  padding-top: 10px;
  background: transparent url(/st/img/skins/skin-11/right-rt-email.png) no-repeat right top;
}

/*- pocasi  */
#col_2 #gadget-4 .title							{  }
#col_2 #gadget-4 .title .text,
 #col_3 #gadget-4 .title .text { width:50%; }
#gadget-4.moved .main-cont					{ border-color:#d5e6f4; }

#col_2 #gadget-4 .g-cnt,
 #col_3 #gadget-4 .g-cnt{
  background: transparent url(/st/img/skins/skin-11/right-rt-pocasi.png) no-repeat right top;
}

#gadget-4 .g-cnt h3							{ margin-bottom:0.4em; }
#gadget-4 .g-cnt .day						{ float:left; width:21%; border-right:1px solid #ECECEC; }
#gadget-4 .g-cnt .last						{ border-width:0; }
#gadget-4 .g-cnt .day img					{ vertical-align:middle; display:block; margin:2px auto; }
#gadget-4 .g-cnt .day p						{ line-height:14px; width:78px; text-align:center; margin:0 auto; }
#gadget-4 .gadget-settings					{ width:300px; }
#gadget-4 .gadget-settings	select			{ width:170px; }

/*- horoskop */
#gadget-7 .title							{ }
#gadget-7 .title .text						{ width:50%; }
#gadget-7.moved .main-cont						{ border-color:#d5e6f4; }
#col_2 #gadget-7 .g-cnt,
 #col_3 #gadget-7 .g-cnt{
  background: transparent url(/st/img/skins/skin-11/right-rt-horoskop.png) no-repeat right top;
}
#gadget-7 .g-cnt h3							{ margin-bottom:0.5em; }
#gadget-7 .g-cnt img						{ float:left; margin:10px 15px 10px 0px; }
#gadget-7 .g-cnt p							{ margin-left:15px;	line-height:1.3em; width: 78%;}
#gadget-7 .g-cnt p a 						{ color:#000; text-decoration:none; }
#gadget-7 .g-cnt p a:hover					{ text-decoration:underline; }

#gadget-7 .gadget-settings					{ width:310px; }

/*- tv box */
#gadget-5 .title							{ }
#gadget-5 h4								{ color:#666; text-align:center; margin:0.8em 0; }
#gadget-5 .title .text						{ width:50%; }
#gadget-5.moved .main-cont					{ border-color:#d5e6f4; }
#gadget-5 .g-cnt							{ }
#col_2 #gadget-5 .g-cnt,
 #col_3 #gadget-5 .g-cnt {
  background: transparent url(/st/img/skins/skin-11/right-rt-tv.png) no-repeat right top;
}
#gadget-5 .g-cnt a:visited					{ color:#B41F24; }
#gadget-5 .g-cnt #times						{ padding:4px 0px 0px 0px; width: 86%;}
#gadget-5 .g-cnt #times .act				{ font-weight:bold; text-decoration:none; color:#000; }

#gadget-5 .g-cnt table						{ margin:4px 0 0 0; table-layout:auto; width:99%; }
#gadget-5 .g-cnt td							{ padding:3px 7px 0px 0px; vertical-align:top; }
#gadget-5 .g-cnt td.channel					{ font-weight:bold; }
#gadget-5 .g-cnt .time						{ width:2.7em; }
#gadget-5 .g-cnt .bars						{ width:8.2em; }

/* tip */
#gadget-5 .g-cnt table.tips					{ margin:1em 0 0.5em 0; }
#gadget-5 .g-cnt table.tips td				{ padding:0 0 4px 8px; }
#gadget-5 .g-cnt .date						{ color:#999; }
#gadget-5 .g-cnt .perex						{ display:block; }
#gadget-5 .g-cnt .overflow					{ overflow:hidden; }
#gadget-5 .g-cnt a.close					{ font-size:93%; font-weight:normal; width:5.5em; display:block; color:#de0000 !important; }
#gadget-5 .g-cnt .text-box					{ margin-left:58px; }
#gadget-5 .g-cnt td .top-foto				{ float:left; }
#gadget-5 .g-cnt .tv-all					{ font-weight:bold; padding-left:8px; }

/* tip */
#gadget-22 .title							{ background-color:#b1d9ff; }
#gadget-22.moved .main-cont					{ border-color:#b1d9ff; }
#gadget-22 #cnt								{ padding:9px 10px 0px 10px; }
#gadget-22 .tip h4							{ }
#gadget-22 .tip img							{ float:left; margin: 3px 0 0 0; }
#gadget-22 .tip .txt						{ margin-left:71px; color:#666; }
#gadget-22 #more-tips						{ margin-top: 10px; }

/*#gadget-5 .g-cnt .channelItem				{ width:130px; }*/
/*- progress at now running */
#gadget-5 .g-cnt .bar						{ overflow:hidden; float:left; margin:3px 4px 0 6px; width:30px; height:10px; background-color:#EDECEC; }
#gadget-5 .g-cnt .progres					{ width:20%; height:100%; background:url(/st/img/bar_bck.gif) top left repeat-x; }
#gadget-5 .g-cnt .proc-text					{ float:left; }
#gadget-5 .g-cnt .act a						{ font-weight:bold; }
#gadget-5 .g-cnt .desc						{ padding:0 7px 6px; }
#gadget-5 .g-cnt a.close					{ font-size:93%; font-weight:normal; width:5.5em; display:block; color:#B41F24 !important; }
#gadget-5 .g-cnt a:hover.close				{ color:#0000ef !important; }
#gadget-5 tr.act td					 		{ background:#FDF5CD; }
#gadget-5 tr.act td a						{ color:#000; }

/* tip */
#gadget-5 .g-cnt table.tips					{ margin:1em 0 0.5em 0; }
#gadget-5 .g-cnt table.tips td				{ padding:0 0 4px 8px; }
#gadget-5 .g-cnt .date						{ color:#999; }
#gadget-5 .g-cnt .perex						{ display:block; }
#gadget-5 .g-cnt .overflow					{ overflow:hidden; }
#gadget-5 .g-cnt a.close					{ font-size:93%; font-weight:normal; width:5.5em; display:block; color:#de0000 !important; }
#gadget-5 .g-cnt .text-box					{ margin-left:58px; }
#gadget-5 .g-cnt td .top-foto				{ float:left; }
#gadget-5 .g-cnt .tv-all					{ font-weight:bold; padding-left:8px; }

#gadget-5 .gadget-settings h4				{ text-align:left; }
#gadget-5 .gadget-settings					{ width:470px; }
#gadget-5 .gadget-settings .tv-cont			{ border-top:1px solid #a0a0a0; }
#gadget-5 .gadget-settings .tv-menu			{ float:left; width:110px; }
#gadget-5 .gadget-settings .tv-menu li		{ color:#de0000; text-decoration:underline; cursor:pointer; }
#gadget-5 .gadget-settings .tv-menu li.sel	{ color:#000; font-weight:bold; text-decoration:none; cusor:default; }
#gadget-5 .gadget-settings .tv-channels		{ margin-left:120px; }
#gadget-5 .gadget-settings .tv-channels ul	{ display:none; }
#gadget-5 .gadget-settings .tv-channels li	{ float:left; width:45%; }

/*- services */
#gadget-6 .title							{ }

#col_1 #gadget-6 .gagdet-cont	{background: transparent url(/st/img/skins/skin-11/title-blue-left.gif) top left no-repeat; }
#col_1 #gadget-6 .title							{ background: transparent url(/st/img/skins/skin-11/title-blue-right.gif) top right no-repeat; }

#www-seznam-cz #gadget-6 .gagdet-cont .graphic		{ background-repeat:no-repeat; background-position:89% 2.9em; }
#www-seznam-cz #gadget-6 .gagdet-cont .nographic	{ background-image:none; }
#gadget-6.moved .main-cont					{ border-color:#d5e6f4; }
#gadget-6 .date								{ margin:3px 0 0 0; color:#666666; width:100%; }
#gadget-6 .home								{ background:url(/st/img/home-ico.gif) no-repeat 0 0; padding-left:18px; }
#gadget-6 #stream-link						{ background:url(/st/img/stream-link.gif) no-repeat 100% 0.1em; =background-position: 100% 0.15em; }
#gadget-6 #stream-link a					{ padding-right:18px; color: #464646;}
#gadget-6 #services							{ padding:0 10px 0 0; margin:6px 0 6px 0; _margin-top: 20px; /*background:url(/st/img/services_bckg.gif) repeat-y 0 0;*/ }
#gadget-6 .g-cnt #services 					{ width:85%; min-height:110px; _height:110px; }
#gadget-6 .services							{ float:left; width:25%; _width:25%; oveflow:hidden; line-height:1.5; padding-left:7px; _padding-left: 1px; padding-right:0px; font-size: 12px;}

#gadget-6 .g-cnt ul li						{
											list-style-image:url(/st/img/skins/skin-11/sipka.gif);
											list-style-position:inside;
											list-style-type:disc;
											overflow:hidden;
											padding-left:0pt;
											white-space:nowrap;
											width:95%;
										}
#gadget-6 .g-cnt ul li a          { color: #464646; }
#gadget-6 .g-cnt ul li a:hover          { color: #B41F24; }
#gadget-6 .g-cnt .lide						{ background:url(/st/img/ico_lide.gif) 4em 40% no-repeat; }
#gadget-6 .g-cnt .lide a					{ padding-right:32px; color: #464646;}
/*- hack pro IE 5!! -*/
#gadget-6 .g-cnt .ico a						{ height:auto !important; height:1px; margin-bottom:auto !important; margin-bottom /**/:-3px; }
#gadget-6 .g-cnt .more						{  }
#gadget-6 .unbold							{ font-weight:normal; }

#gadget-6 .gagdet-cont .dog_1	{ background-image:url(/st/img/dog_monday.png) }
#gadget-6 .gagdet-cont .dog_2	{ background-image:url(/st/img/dog_tuesday.png) }
#gadget-6 .gagdet-cont .dog_3	{ background-image:url(/st/img/dog_wednesday.png) }
#gadget-6 .gagdet-cont .dog_4	{ background-image:url(/st/img/dog_thursday.png) }
#gadget-6 .gagdet-cont .dog_5	{ background-image:url(/st/img/dog_friday.png) }
#gadget-6 .gagdet-cont .dog_6	{ background-image:url(/st/img/dog_saturday.png) }
#gadget-6 .gagdet-cont .dog_7	{ background-image:url(/st/img/dog_sunday.png) }

.newItem											{ background: url(/st/img/new.gif) no-repeat 6.2em 0.25em; _background-position:8em 0.3em; /**/ }
.newItemHead										{ padding-right:25px; background:url(/st/img/new.gif) no-repeat 100% 0.25em; }
.newItem2											{ background:url(/st/img/new.gif) no-repeat 2em 0.25em; _background-position:2em 0.3em; /**/ }
.tipItem											{ background: url(/st/img/tip.png) no-repeat 6.2em 0.35em; _background-position:8em 0.3em; /**/ }

/*- zbozi vanoce */
#gadget-99 .title							{ background-color:#e6d895; }
#gadget-99 .text							{ color:#de0000; }
#gadget-99.moved .main-cont					{ border-color:#e6d895; }
#gadget-99 .services						{ margin:0.7em 1px; float:left; width:26%; oveflow:hidden; line-height:1.3; /*border-left:1px solid #d8d8d8;*/ padding-left:10px; padding-right:2px; }
#gadget-99 #se1								{ width:28%; }
#gadget-99 #se2								{ width:17%; }

/*- katalog */
#gadget-8 .random-cat						{ padding:8px 45px 0 6px; }
#gadget-8 .random-cat h4					{ display:inline; font-size:108.5%; color:#323232; }
#gadget-8 .random-cat a						{ font-weight:bold; margin-right:5px; _margin-left:5px; }
#gadget-8 .random-cat span					{ color:#999999; }
#gadget-8 .add-bck a						{ background:url(/st/img/ico-add.gif) no-repeat 0 0.1em ; padding-left:20px; }

#gadget-6 .g-cnt .narrow-coll					{ width:21% !important; }
#gadget-6 .g-cnt .narrow-colls				{ width:94% !important; }



#gadget-8 .title							{  }
#gadget-8.moved .main-cont					{ border-color:#d5e6f4; }
#col_2 #gadget-8 .g-cnt,
 #col_3 #gadget-8 .g-cnt{
  background: transparent url(/st/img/skins/skin-11/right-rt-pozn.png) no-repeat right top;
}
#gadget-8 .g-cnt .lists						{ =float:left; padding:8px 11px; }

#gadget-8 .g-cnt .cat-list,
#gadget-8 .g-cnt .cat-list-abc				{ margin-top:0.3em; }
#gadget-8 .g-cnt .cat-list					{ =margin-top:0;/**/; }
#gadget-8 .g-cnt li							{ float:left; width:90px; line-height:1.3;}
#gadget-8 .g-cnt ul.cat-list li          { padding-left: 15px; background: url(/st/img/skins/skin-11/sipka.gif) no-repeat left center;}

#gadget-8 .g-cnt .cat-list-abc li			{ width:155px; }

/*- firmy - promo -*/
#col_2 #gadget-8 .g-cnt .promo-man      { display: none; }
#gadget-8 .firmy-trend-box .links       { color: #B41F24; }

#gadget-8 .g-cnt .clear {height: 10px;}
#col_2 #gadget-8 .g-cnt ul.alphabet,
 #col_3 #gadget-8 .g-cnt ul.alphabet { width: 82%; }
#gadget-8 .g-cnt .alphabet li				{ width:auto; margin-right:0.6em; }
#col_2 #gadget-8 .g-cnt .alphabet li,
 #col_3 #gadget-8 .g-cnt .alphabet li { width:auto; margin-right:0.5em; }
#gadget-8 .g-cnt .alphabet li.selected {display: block; height: 25px; float: left;}
#gadget-8 .g-cnt .alphabet li.selected a	{ text-decoration:none; font-weight:bold; color:#000000; }
#gadget-8 .gadget-settings					{ width:240px; }

/*- slovnik */
#gadget-10 .title							{ }
#gadget-10.moved .main-cont					{ border-color:#d5e6f4; }
#col_2 #gadget-10 .g-cnt,
 #col_3 #gadget-10 .g-cnt {

}
#gadget-10 .g-cnt input.text { width: 65%;}
#gadget-10 .g-cnt .push						{ padding:10px 11px; }
#gadget-10 .g-cnt .text						{ width:75%; }
#gadget-10 .g-cnt .left-col,
#gadget-10 .g-cnt .right-col				{ float:left; width:40%; padding-top:10px; }

/*- notes */
#gadget-11 .title							{ color: #B41F24;}
#gadget-11.moved .main-cont					{ border-color:#d5e6f4; }
#col_2 #gadget-11 .g-cnt,
 #col_3 #gadget-11 .g-cnt {
  background: transparent url(/st/img/skins/skin-11/right-rt-pozn.png) no-repeat right top;
}

#gadget-11 #notes							{ padding:3px 0px; margin: 0px auto; width: 90%;}
#col_2 #gadget-11 #notes,
 #col_3 #gadget-11 #notes { margin: 0px; width: 86%;}
#gadget-11 .item							{ _height:1px; position:relative; border:1px solid #A2C6E4; background: #fff url(/st/img/skins/skin-11/poznamka.gif) repeat-x 0 0; color:#666; margin-top:6px; }
#gadget-11 .item.open						{ color:#060505; }
#gadget-11 .item .content					{ display:none; }
#gadget-11 .item.open .content				{ display:block; padding:1px 4px 8px 4px; }
#gadget-11 .item .tit						{ display:block; padding:1px 4px; }
#gadget-11 .item.open .tit					{ display:none; }
#gadget-11 .item .tit-cnt					{ cursor:hand; cursor:pointer; }
#gadget-11 .item.open .corner				{ width:16px; height:16px; position:absolute; bottom:-1px; right:-1px; _bottom:-2px; _right:-2px;  }
body:last-child:not(:root:root) #gadget-11 .item.open .corner 	{ display:none; }

#gadget-11 .item.empty						{ display:none; background:#fefefe; border:1px solid #dedede; }
#gadget-11 .item.empty img					{ padding:0 0 2px 0; }

#gadget-11 .item .tit .show img				{ margin:3px 5px 0 0; cursor:hand; cursor:pointer; }
#gadget-11 .item .content .hide img		{ margin:3px 5px 0 0; cursor:hand; cursor:pointer; }
#gadget-11 .item .content .hide			{ font-size:85%; }

#gadget-11 .item .tit .write-note			{ font-size:85%; }
#gadget-11 .item .cnt						{ padding:8px 10px 0 16px; }
/* tohle vidi jen opera */
@media all and (min-width: 0px) {
#gadget-11 .item .cnt .incnt				{ overflow:hidden; width:100%; }
}

#gadget-11 .item .txt-box					{ border:1px solid #bbb; margin:5px 14px 0 9px; padding:2px 6px; zoom:1; }
#gadget-11 .item .edit						{ width:100%; background:#fff; font-family:Arial, sans-serif; font-size:100%; border:none; padding:0; margin:0; }
#gadget-11 .item .edit-box					{ margin:12px 0 8px 16px; position:absolute; top:-0.8em; right:4px; _right:14px; }
#gadget-11 .item .edit-box a				{ padding-left:4px; font-size:85%; }
#gadget-11 .add-note-box					{ padding:0px 4px 2px 4px; text-align:center; background:#fff; border:none; }
#gadget-11 .new-note						{ background: url(/st/img/add-button.gif) no-repeat 0 0.2em; }
#gadget-11 .new-note a						{ padding-left:18px; font-weight:bold; }

/*-
#gadget-11 .item							{ border:1px solid #ffcc66; background:#ffffcc; color:#666; margin-top:3px; }
#gadget-11 .item.open						{ background:#ffffe3; color:#060505; }
#gadget-11 .item .content					{ display:none; }
#gadget-11 .item.open .content				{ display:block; padding:1px 4px; }
#gadget-11 .item .tit						{ display:block; padding:1px 4px; }
#gadget-11 .item.open .tit					{ display:none; }

#gadget-11 .item.empty						{ display:none; background:#fefefe; border:1px solid #dedede; }
#gadget-11 .item.empty img					{ padding:0 0 2px 0; }

#gadget-11 .item .tit .show img				{ margin:3px 5px 0 0; cursor:hand; cursor:pointer; }
#gadget-11 .item .content .hide img		{ margin:3px 5px 0 0; cursor:hand; cursor:pointer; }
#gadget-11 .item .content .hide			{ font-size:85%; }

#gadget-11 .item .tit .write-note			{ font-size:85%; }
#gadget-11 .item .cnt						{ padding:8px 10px 0 16px; }
#gadget-11 .item .edit						{ border:2px solid #ffcc66; width:94%; margin:8px auto 0 auto; padding:4px 8px; }
#gadget-11 .item .edit-box					{ margin:12px 0 8px 16px; }
#gadget-11 .item .edit-box input			{ font-size:85%; }
#gadget-11 .add-note-box					{ padding:0px 4px 2px 4px; text-align:center; background:#fff; }
#gadget-11 .new-note						{ background: url(/st/img/add-button.gif) no-repeat 0 0.2em; }
#gadget-11 .new-note a						{ padding-left:18px; }

*/

/*- lide */
#gadget-12 .title							{ }
#gadget-12.moved .main-cont					{ border-color:#d5e6f4; }
#gadget-12 .g-cnt .push						{ padding:10px 11px; }
#gadget-12 ul								{ clear:both; }
#gadget-12 li								{ display:inline; line-height:18px; padding-right:4px; _padding-right:2px; }
#gadget-12 li.next a						{ padding-left:0; }
#gadget-12 li a								{ height:auto !important; height:1px; padding-left:15px; }
.ico-M										{ background:url(/st/img/sxM.gif) no-repeat 0 2px; }
.ico-W										{ background:url(/st/img/sxF.gif) no-repeat 0 2px;}

/*kurzy*/
#gadget-13 .title							{ background-color:#B1D9FF; }
#gadget-13.moved .main-cont					{ border-color:#B1D9FF; }
/*variant*/
#gadget-13 #rate							{ padding:8px 11px 8px; }
#gadget-13 .tendence 						{ padding-right:43px; }
#gadget-13 .tendence img					{ vertical-align:inherit; }
#gadget-13 .curr							{ padding-right:8px; }

/* seflpromo */
#gadget-15 .title							{ background-color:#caeab0; }
#gadget-15.moved .main-cont					{ border-color:#caeab0; }

/* gadget-14 - videostream*/
#gadget-14 .gagdet-cont .title a span			{ font-weight:normal; }
#gadget-14 .top-foto							{ float:none; border:1px solid #9d9d9d; padding:0px; }
#gadget-14 .top-foto-img						{ position:relative; float:left; margin-right:9px; }
#gadget-14 .top-foto-img						{ background-repeat:no-repeat; background-position:center center; width:54px; height:30px; display:block; }
#gadget-14 .top-foto-img img					{ display:none; }
#gadget-14 .hlp									{ padding-top:0px; padding-bottom:0px; }
/*#gadget-14 .top .perex							{ margin-left:129px; }*/
#gadget-14 .top .perex								{ margin-left:64px; }
#gadget-14 .main-cont							{ z-index:0; }
#gadget-14 .gadget-settings						{ z-index:1; }

#gadget-14 .stream-menu							{ padding:0px 0 4px 0; }
#gadget-14 .stream-menu li						{ float:left; padding-left:4px; color:#cecfce; }
#gadget-14 .stream-menu li.active a:hover,
 #gadget-14 .stream-menu li.active a:link,
 #gadget-14 .stream-menu li.active a:visited		{ color:#000; font-weight:bold; text-decoration:none; }

/*- ovladani hp */
#controls									{ margin-top:2em; border-bottom:1px solid #e5e5e5; /*-background:url(/st/img/bottom-grad.gif) 0 100% repeat-x;-*/ }
#controls a:link,
 #controls a:visited						{ color:#000; }
#controls a:hover							{ color:#B41F24; }

#controls #sett-add-news-link				{ background:url(/st/img/rss-add.gif) no-repeat 0 0.15em; }
#controls #sett-chng-skin-link				{ background:url(/st/img/skin-change1.gif) no-repeat 0 0.15em; }
#controls #sett-chng-layout-link			{ background:url(/st/img/layout-change.gif) no-repeat 0 0.15em; }

#controls span.i							{ margin-right:2px; position:relative; top:2px; _top:0; /**/; }
#controls #s-links #set-as-HP span.i		{ padding:0 10px 15px; display:inline-block; background:url(/st/img/hp-icon.png) no-repeat 0 0; =:background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/st/img/hp-icon.png'); }
#controls #sett-sett-layout-link span.i		{ top:3px; _top:1px; padding:0 10px 17px; display:inline-block; background:url(/st/img/sett-icon.png) no-repeat 0 0; =:background:none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/st/img/sett-icon.png','scale'); }


#controls #s-links							{ margin:0 auto; padding-bottom:8px; text-align:center; line-height:2em; }
#controls #s-links li						{ font-weight:bold; font-size:108.5%; margin-right:14px; _height:1px; display:inline; }
#controls #s-links li a						{ text-decoration:none; }
#controls #s-links li .t					{ text-decoration:underline; }
#controls .not-logged						{ color:#7F7F7F; }

/*- globalni nastaveni*/
.center											{ margin:0 auto; position:relative; width:1px; z-index:999; }
#common-settings								{ display:none; background:#EDFFEE; position:absolute; width:757px; top:0px; left:-375px; text-align:left; }
#common-settings .settings-cont,
#common-settings #skin-list						{ border:3px solid #DDD; padding:4px 12px; overflow:auto; /*height:388px; _height:397px;*/ }
#common-settings .title-setting					{ padding:5px 0 6px 0; text-align:right; }

#common-settings .title-setting h2				{ float:left; color:#888; }
#common-settings .title-setting h4				{ position:absolute; font-size:100%; top:6px; left:8px; }
#common-settings .title-setting .tools			{ margin-right:-4px; }
#common-settings .title-setting .close-sett		{ background:url(/st/img/close-blue.gif) no-repeat 100% 0; }
#common-settings .title-setting .close-sett	a 	{ _height:1px; padding-right:20px; color:#980000; }

/*- zmena skinu -*/
#common-settings #skin-list						{ background:#FFF; height:280px; }
#common-settings #skin-list .skin-item			{ float:left; margin:1em 15px 2em 0; }
#common-settings #skin-list .skin-item img		{ border:1px solid #EEE; }
#common-settings .extForm						{ margin-top:10px; }
#common-settings .extForm #externalSkin			{ width:250px; }
#common-settings .extForm small					{ display:block; margin-left:8em; }

/*- obecne nastaveni */
#common-settings #search-list					{ background:#fff; border:2px solid #ddd; height:240px; overflow:auto; margin-bottom:15px; }
#common-settings #search-list .item				{ height:1.6em; clear:both; border-top:1px solid #ccc; padding:1px 2px 0 2px; _padding:0 2px 0 2px; }
#common-settings #search-list .item.first		{ border-top:0; }
#common-settings #search-list .label			{ float:left; padding-bottom:3px; _padding-bottom:2px; }
#common-settings #search-list .label label		{  }
#common-settings #search-list .ctrl				{ float:right; margin:4px 3px 0 0; }
#common-settings #search-list .ctrl img			{ cursor:hand; cursor:pointer; }
#common-settings #search-list .seek-del			{ cursor:pointer; _cursor:hand;	padding-left:15px; margin-right:0.7em; background:transparent url(/st/img/popelnice.gif) no-repeat 0 70%; }

#common-settings #add-seek h3					{ font-size:100%; margin-bottom:6px; }
#common-settings #add-seek h3 a					{ font-weight:normal; color:#5757AD; }
#common-settings #add-seek input,
#common-settings #add-seek select				{ margin-right:0.1em; }
#common-settings #add-seek #add-seek-button		{ margin-left:0.2em; }

/*- hledani zdroju + gadgety */
#common-settings #rss-groups-list					{ float:left; width:175px; overflow:hidden; }
#common-settings #rss-groups-list div div			{ padding:3px 4px 3px 8px; }
#common-settings #rss-groups-list div.selected 		{ background:#CCC; }
#common-settings #rss-groups-list div.selected div	{ cursor:hand; cursor:pointer;  }
#common-settings #rss-groups-list .selected a		{ text-decoration:none; font-weight:bold; color:#000; }
#common-settings #rss-feeds-list					{ _float:left; width:545px; background:#fff; border:2px solid #CCC; =margin-bottom:10px; height:240px; overflow:auto; }
#common-settings #rss-feeds-list .item				{ clear:both; border-top:1px solid #ccc; padding:1px 2px 0 2px; _padding:0 2px 0 2px; }
#common-settings #rss-feeds-list .first				{ border-top:none; }
#common-settings #rss-feeds-list .item .label		{ float:left; padding-bottom:3px; _padding-bottom:2px; }

#common-settings #search-rss-form					{ margin:0 0 13px 100px; }
#common-settings #search-rss-form #search-title-label	{ text-align:right; margin-right:3px; _margin-right:0px; padding-top:3px; float:left; width:10em; }
#common-settings #search-rss-form #search-title		{ width:310px; vertical-align:middle; }
#common-settings #search-rss-form #add-seek-button	{ width:6.7em; vertical-align:middle; }
#common-settings #search-rss-form .help				{ margin:3px 0 0 11.4em; color:#666; font-size:93%; }
#common-settings .c-sett-add-news					{ margin:0 0 0 175px; }

#common-settings #rss-search-cnt .rssTitle			{ padding:2px 2px 2px 7px; background:#ccc; }
#common-settings #rss-search-cnt .rssTitle h3		{ float:left; font-size:100%; }
#common-settings #rss-search-cnt .rssTitle .close	{ float:right; background:#ccc url(/st/img/close-blue.gif) no-repeat 100% 0; }
#common-settings #rss-search-cnt .rssTitle .close a	{ _height:1px; padding-right:19px; font-weight:bold; }

#common-settings #rss-search-cnt					{ background:#fff; margin-top:10px; border:2px solid #ddd; }
#common-settings #rss-search-list					{ height:240px; overflow:auto; }
#common-settings #rss-search-list .item				{ clear:both; border-top:1px solid #ccc; padding:1px 2px 0 2px; _padding:0 2px 0 2px; }
#common-settings #rss-search-list .item label		{ font-weight:bold; }
#common-settings #rss-search-list .first			{ border-top:none; }
#common-settings #rss-search-list .item .link		{ margin-left:24px; color:#336633; padding-bottom:3px; _padding-bottom:2px; }

/*- hlaska kdyz nic nenajdu nebo nemam zdroje */
#common-settings .message							{ color:#666; text-align:center; font-size:108.5%; margin:10px auto; }
/*- nastaveni spodku */
#sett-bottom										{ padding:15px 0 10px; }
#sett-bottom .bold									{ font-weight:bold; }
#sett-bottom input									{ margin-right:1em; }
#sett-bottom #reset-seznam							{ font-size:85%; color:#5757AD; }

/*- hledani nastaveni */
#common-settings #sugg-form							{ margin-top:2px; }

/*- nastaveni layoutu */
#common-settings #layout-list						{  }
#common-settings #layout-list .l-item				{ float:left; width:145px; }

#foot												{ margin-top:0.3em; text-align:center; color:#989898; }

/*- loader */
.loader												{ position:absolute; z-index:999; width:150px; padding:45px 0 5px 0; text-align:center; color:#CDCDCD; background:#fff url(/st/img/load.gif) no-repeat 48% 5px; border:1px solid #CDCDCD; }



/* HP Aukro */
#AukroHP #navigace				{ padding:2px 40px 12px 0px; }
#AukroHP #navigace li			{ display:inline; margin-right:5px; _margin-right:10px; background:url(/st/img/pipe.gif) 100% 0.2em no-repeat; }
#AukroHP #navigace .click		{ font-weight:bold; }
#AukroHP #navigace li a			{ padding-right:10px; _padding-right:8px; }
#AukroHP #navigace li.first		{ margin-right:5px; }
#AukroHP #navigace li.last		{ background-image:none; }
#AukroHP #navigace li a.active	{ color:#000; text-decoration:none; }

#AukroHP .page1					{}
#AukroHP .page1 li				{ float:left; width:20%; margin-right:4%; _margin-right:3.5%; overflow:hidden; }
#AukroHP .page1 li img			{ border:1px solid #dfdfdf; }
#AukroHP .page1 li .name		{ padding-top:3px; white-space:nowrap; }
#AukroHP .page1 li .price		{ padding-top:2px; }

#AukroHP .page2					{ display:none; }
#AukroHP .page2 ul				{  }
#AukroHP .page2 li				{ float:left; width:25%; margin-right:2%; _margin-right:2%; line-height:1.4em; overflow:hidden; white-space:nowrap; }
#AukroHP .page2 li.frst			{ width:32%; }
#AukroHP .page2 li.scnd			{ width:31%; }
#AukroHP .page2 li.thrd			{ width:31%; }


/*- Facebook */
#gadget-17									{}
#gadget-17 .title							{ background-color:#d8dfea; }
#gadget-17 .g-cnt							{  }
#gadget-17.moved .main-cont					{ border-color:#b6c2d5; }
#gadget-17 .g-cnt .push						{ padding:0; }

/* login */
#gadget-17 #fb-login						{ padding:5px 10px; display:block; color:#000;  }
#gadget-17 #fb-box							{ display:block; cursor:pointer; font-size:85%; border:1px solid #a7b7d1; background:#eff2f7; padding:8px; width:85%; margin:5px 0 0 0; }
#gadget-17 #fb-box img						{ vertical-align:middle; }

/* info */
#gadget-17 #fb-info							{ font-size:85%; background:transparent; padding:8px; width:90%; }
#gadget-17 #fb-info img						{ vertical-align:middle; }

#gadget-17 #fb-form							{ background:transparent; padding:8px; width:90%; }

/*- formular */
#gadget-17 #fb-input						{ border:1px solid #b6c2d5; width:70%; padding:2px 2px; margin-right:10px; }
#gadget-17 #fb-my-status					{ font-size:85%; padding:3px 0 0 1px; }
#gadget-17 #fb-my-status #fb-date			{ color:#818ca2; }

/*- vzkazy - emaily */
#gadget-17 #fb-info li						{ float:left; line-height: 1.4em; }
#gadget-17 #fb-info a:link					{ color:#5c5ca7; }
#gadget-17 #fb-info a:hover					{ color:#0000ef; }
#gadget-17 #fb-info #fb-i-new a				{ background:url(/st/img/fb-post.gif) no-repeat 0 2px; padding:0 10px 2px 24px; }
#gadget-17 #fb-info #fb-i-auth a			{ background:url(/st/img/fb-auth.gif) no-repeat 0 0; padding:0 10px 2px 24px; }
#gadget-17 #fb-info #fb-i-jog a				{ background:url(/st/img/fb-jog.gif) no-repeat 0 0; padding:0 6px 2px 19px; }
#gadget-17 #fb-info #fb-i-evnt a			{ background:url(/st/img/fb-calendar.gif) no-repeat 0 0; padding:0 10px 2px 22px; }
#gadget-17 #fb-info #fb-i-groups a			{ background:url(/st/img/fb-group.gif) no-repeat 0 0; padding:0 6px 2px 22px; }

/*- vypis */
#gadget-17 #fb-list							{ padding:0.5em 7px 0 7px; width:85%; }
#gadget-17 .fb-item							{ border-bottom:1px solid #d8dfea; padding-bottom:0.6em; margin-top:0.7em; }
#gadget-17 .fb-item .fb-text				{ margin-left:45px; }
#gadget-17 .fb-item .fb-text-no				{ margin-left:0; }
#gadget-17 .fb-item	.fb-picture				{ float:left; }
#gadget-17 .fb-item	.fb-time,
#gadget-17 .fb-item .fb-answers			{ font-size:85%; color:#999; }

/* strankovani */
#gadget-17 #fb-bottom						{ font-weight:bold; padding:0.5em 7px 0 7px; }
#gadget-17 #fb-bottom #fb-prev				{ float:left; }
#gadget-17 #fb-bottom #fb-next				{ float:right;}

/* facebook */
#fb-bck										{ filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); opacity:0.8; z-index:999; position:absolute; top:0; left:0; background:#fff; }
#fb-cnt										{ position:absolute; width:802px; height:520px; z-index:999; }
#fb-cnt #fb-tit								{ background:#FFDB6E; padding:4px; text-align:right; border:1px solid #FFDB6E; border-bottom:none; }
#fb-cnt #fb-tit a							{ color:#5c5ca7; background:url(/st/img/close-blue.gif) no-repeat 100% 0; padding-right:19px; }
#fb-cnt iframe								{ background:#fff; border:1px solid #cecece; border-top:none; z-index:999; position:relative; }

/* hinty */
#hint-cont							{ position:relative; overflow:hidden; margin-bottom:2em; }
#hint-cont #hint-arrow				{ display:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/st/img/hint/border-arrow.png'); background:url(/st/img/hint/border-arrow.png); _background:none; width:13px; height:31px; position:absolute; top:5px; left:57px; _left:5px; z-index:2; }
#hint-cont #hint-dog				{ display:none; margin-top:-2px; float:left; width:55px; height:44px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/st/img/hint/hint-pes.png'); background:url(/st/img/hint/hint-pes.png); _background:none; /**/ }
#hint-cont .window-container		{ margin-left:65px; }
#hint-cont #hint,
#oldBrowserHint						{ padding:8px 18px 7px 18px; background:#fffcec; }
#hint-cont #hint #hint-close		{ display:block; position:absolute; top:25%; right:10px; width:15px; height:15px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/st/img/hint/krizek-modry.png'); background:url(/st/img/hint/krizek-modry.png); _background:none; }
#hint-cont #hint #hint-form			{ display:inline; }
#hint-cont .add-hint				{ padding:4px 18px 3px 18px !important; }
#hint-cont #ok-ico					{ background:url(/st/img/ikona-ok.png) no-repeat 0 0; width:16px; height:16px; float:left; margin-right:3px; position:relative; top:0px; left:-5px; }
#hint-cont #ko-ico					{ background:url(/st/img/ikona-ko.png) no-repeat 0 0; width:16px; height:16px; float:left; margin-right:4px; position:relative; top:4px; left:-2px; }

