/*- SKIN "GRAFITTI" -*/

html			{ background:#515c62 url(/st/img/skins/skin-14/2011/page-back.png) repeat-x 0 0; }
body#www-seznam-cz 			{ margin:0; color:#ccd2d6; background:transparent url(/st/img/skins/skin-14/2011/head.png) no-repeat center 50px; }

a:link 			{ color:#ff9b00; }
a:visited 		{ color:#c47600; }
a:hover 		{ color:#a0a0a0; }


/*- gadgety -*/
.gagdet-cont .title					{ border-color:#252f34 !important; color:#82887D !important; }
.gagdet-cont .title a				{ color:#fff; }
.gagdet-cont .title a:hover			{ color:#a0a0a0; }
.gagdet-cont .title .edit a			{ color:#ffce81; }
.gagdet-cont .title .edit a:hover	{ color:#a0a0a0; }
.gagdet-cont .title .edit .edit-text{ background-image:url(/st/img/skins/skin-14/2011/settings-hover-arrow.png); }
.gagdet-cont .title .text			{ color:#ccd2d6 !important; }
.moved .gagdet-cont .title			{ background-color:#30373a !important; }

/*- Volby -*/
.election .party .info .name 		{ color:#ccc; }

/*- gadgety - "upravit" box -*/
.gadget-settings .settings-main,
 .gadget-settings .setting-bck				{ background:#2d3437; }
.gadget-settings .title-setting a			{ color:#ffce81 !important; }
.gadget-settings .title-setting a:hover		{ color:#a0a0a0 !important; }
.gadget-settings .title-setting .close-sett	{ background-image:url(/st/img/skins/skin-14/2011/settings-hover-arrow.png); }
.gadget-settings .next-settings a			{ color:#ffce81; }
.gadget-settings .next-settings a:hover		{ color:#a0a0a0; }
.gadget-settings .settings-cont div			{ border-color:#000 !important; }
.gadget-settings .label-check				{ color:#ccd2d6; }

/*- gadgety - pohyb -*/
#gd .s_win_pointer_background	{ background:#111 !important; }			/*- plocha, kam se dropne gadget -*/
.dragged .main-cont				{ background-color:#2d3437 !important; }	/*- pozadi pohybujiciho se gadgetu -*/

/*- gadgety - potvrzeni o zavreni boxu -*/
.close-confirm-win				{ background:#2d3437; border:1px solid #000; }

.gadget-app-promo               { background: #2d3437; color: #ccd2d6; }

/*- gadgety se zpravami odjinud -*/
.rss-feed .g-cnt td span.perex	{ color:#ccd2d6; }

/*- email -*/
.email-feed .links,
 .email-feed .eml-cnt						{ background:#2d3437; }
.email-feed .links a						{ color:#ff9b00; }
.email-feed .links a:hover					{ color:#a0a0a0; }
.email-feed .gagdet-cont .g-cnt .table .tr	{ border-color:#616466; }
.email-feed table tr.over td,
.email-feed .table .tr.over .td				{ background:#434d52; }
.email-feed .g-cnt form						{ background:#2d3437; }
.email-feed .table .td a					{ color:#ff9b00; }
.email-feed .table .td a:hover				{ color:#a0a0a0; }
.email-feed .table .td.etime span			{ color:#ccd2d6; }
.email-feed .table .tr span					{ color:#ccd2d6; }
.email-feed .g-cnt label					{ color:#ccd2d6 !important; }
.email-feed .warn							{ color:#ef0; }
#gadget-3 .g-cnt form.forbbiden	label,
#gadget-3 form.altForm label				{ color: #CCD2D6; }

/*- gmail -*/
#gadget-190 .eml-cnt td strong a			{ *color:#CCD2D6; }

/*- muze se hodit - pocasi -*/
#gadget-6 .g-cnt p strong.district			{ color:#ccd2d6; }
#gadget-6 .g-cnt .day p strong.day-name		{ color:#ccd2d6; }
#gadget-6 .g-cnt .weather .unit				{ color:#ccd2d6; }

/*- firmy - promo -*/
#col_2 #gadget-8 .g-cnt .promo-man 			{ display: none; }
#gadget-8 .firmy-trend-box .links 			{ color: #ff9b00; }

/*- TV program -*/
#gadget-5 .g-cnt #times a		{ color:#ff9b00; }
#gadget-5 .g-cnt #times a:hover	{ color:#a0a0a0; }
#gadget-5 .g-cnt #times a.act	{ color:#ccd2d6; }
#gadget-5 .g-cnt a.close		{ color:#ffce81; }
#gadget-5 .g-cnt a.close:hover	{ color:#a0a0a0; }
#gadget-5 .g-cnt .date			{ color:#999; }
#gadget-5 h4					{ color:#ccd2d6; }
#gadget-5 .gadget-settings .tv-menu li		{ color:#ff9b00; }
#gadget-5 .gadget-settings .tv-menu li:hover{ color:#a0a0a0; }
#gadget-5 .gadget-settings .tv-menu li.sel	{ color:#ccd2d6; }

/*- stream -*/
#gadget-14 #more-news.beside	{ background-image:url(/st/img/skins/skin-14/2011/arrow-stream.png); }

/*- tip -*/
#gadget-22 .tip .txt			{ color:#ccd2d6; }

/*- poznamky -*/
#gadget-11 #notes					{ padding:3px 0; }
#gadget-11 .item					{ border:none; border-bottom:1px solid #252f34; background:transparent; color:#ccd2d6 !important; }
#gadget-11 .item .edit-box a,
 #gadget-11 .item a.hide-note		{ color:#ffce81; }
#gadget-11 .item .edit-box a:hover,
 #gadget-11 .item a.hide-note:hover	{ color:#a0a0a0; }
#gadget-11 .item .corner			{ display:none !important; }
#gadget-11 .item .tit				{ height:25px; line-height:25px; padding:0; }
#gadget-11 .item.open .content		{ padding:0 0 5px 0; }
#gadget-11 .item .show img,
 #gadget-11 .item .hide img			{ display:none; }
#gadget-11 .item .show,
 #gadget-11 .item .hide				{ display:block; height:25px; padding-left:30px; background:transparent url(/st/img/skins/skin-14/2011/note-plusminus.gif) no-repeat 0 0; }
#gadget-11 .item .content .hide		{ background-position:0 -25px; height:25px; line-height:25px; }
#gadget-11 .item .tit .show			{ float:left; }
#gadget-11 .item.add-note-box		{ padding:0; }
#gadget-11 .item .txt-box			{ border:1px solid #ff9b00; background:#fff;  }
#gadget-11 .item .txt-box .edit		{ background:#fff; }
#gadget-11 .new-note				{ display:inline-block; height:25px; line-height:25px; background:transparent url(/st/img/skins/skin-14/2011/note-plusminus.gif) no-repeat 0 0; }
#gadget-11 .new-note a				{ padding-left:25px; color:#ff9b00; }
#gadget-11 .new-note a:hover		{ color:#a0a0a0; }

/*- gadget music  -*/
#gadget-24 #musicChannel			{ color: #CCD2D6; }

/*- vyznamny den -*/
#gadget-23 #nowbox li,
#gadget-23 #nowbox .title2              { color:#ccd2d6; }
#gadget-23 .gagdet-cont.mapy .edit-text { color:#ff9b00; }

/*- zbozi */
#gadget-99 .category.active					{ background:#252f34; }
#gadget-99 .category.active a				{ color:#ccd2d6; }
#gadget-99 .product-desc					{ color:#ccd2d6; }


/*- text u prazdneho sloupce layoutu -*/
.empty-col						{ color:#ccd2d6; }

/*- hint -*/
#hint-cont #hint,
#oldBrowserHint							{ background:#2d3437; border-color:#000; }
#hint-cont #hint a:link				{ color:#ff9b00; }
#hint-cont #hint a:visited			{ color:#c47600; }
#hint-cont #hint a:hover			{ color:#a0a0a0; }
#hint-cont #hint a#hint-close		{ color:#ffce81; background-image:url(/st/img/skins/skin-14/2011/hint-close.png); }
#hint-cont #hint a#hint-close:hover	{ color:#a0a0a0; }

/*- pata -*/
#controls						{ border-color:#4b5356; }
#controls #s-links a			{ font-weight:normal; color:#ff9b00; }
#controls #s-links a:hover		{ color:#a0a0a0; }

#foot			{ color:#ccd2d6; }
#foot a			{ color:#ffce81; }
#foot a:hover	{ color:#a0a0a0; }

/*- hlavicka a pozadi -*/
#head #inCont		{ display:none; }
#head #info			{ padding-top:12px; }
#head #info h2		{ color:#ccd2d6; }
#head #info a		{ color:#ff9b00; }
#head #info a:hover	{ color:#a0a0a0; }

#search #tabs li a				{ color:#ff9b00; }
#search #tabs li a:hover		{ color:#a0a0a0; }
#search #tabs li.active a		{ color:#ccd2d6; }

.suggest p			{ color:#000; }

#page				{ background:transparent url(/st/img/skins/skin-14/2011/bckopa.png); }

#search-cnt .window-container	{ background-image:url(/st/img/skins/skin-14/2011/bubble.png) !important; }

#search #seznam-logo			{ background:transparent url(/st/img/skins/skin-14/2011/logo.png) no-repeat 0 0; display:block; }
#search #seznam-logo img		{ visibility:hidden; }

@media (max-width: 950px) {
	#search-cnt .window-container 				{ background: rgba(81,92,98,0.9) !important; }
	#search #seznam-logo						{ background:transparent url(/st/img/skins/skin-14/2011/logo-small.png) no-repeat 0 0;
}

